* {
  box-sizing: border-box;
  margin: 0;
}

.header {
  display: grid;
  height: 200px;
  width: 100%;
  border: 2px solid black;
  background-color: rgb(226, 173, 242);
}

.plus {
  place-self: end end;
  padding-right: 50px;
  font-size: 2rem;
}

.ueberschrift {
  font-size: 4rem;
  font-family: "Indie Flower", cursive;
  place-self: center;
}

.container {
  display: flex;
  flex-wrap: wrap;
  height: 1100px;
  width: 100%;
  margin: 0;
  padding: 50px;
  border: 2px solid black;
  background-color: rgb(254, 225, 199);
}

.addEntry {
  display: none;
  position: absolute;
  height: 450px;
  width: 300px;
  border-radius: 20px;
  border: 2px solid black;
  background-color: white;
  z-index: 999;
  padding: 40px;
  margin-left: auto;
  margin-right: auto;
  top: 20%;
  bottom: 20%;
  left: 40%;
  right: 40%;
  margin-top: 30px;
  background-color: rgb(136, 82, 127);
}

.addEntry * {
  margin-top: 3px;
}

.addEntry .btn_senden {
  float: left;
  margin-top: 20px;
}

.addEntry .btn_cancel {
  float: left;
  margin-top: 20px;
  margin-left: 40px;
}

.addEntry #read_status {
  display: block;
}

.overlay {
  display: none;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  position: absolute;
  background-color: rgba(50, 50, 50, 0.5);
}

.showEntry {
  display: block;
}

.buch {
  border-radius: 20px;
  padding-top: 20px;
  width: 300px;
  height: 450px;
  margin-bottom: 50px;
  margin-right: 50px;
  border: 2px solid black;
  box-shadow: 20px 20px 20px black;
  text-align: center;
}

.titleBook {
  font-size: 2rem;
  font-family: "EB Garamond", serif;
}

li {
  list-style: none;
  padding: 20px;
  font-size: 1.5rem;
  font-family: "EB Garamond", serif;
}

.animate-book {
  animation: fadeIn 3s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
