* {
  box-sizing: border-box;
  margin: 0;
}

.header {
  display: grid;
  height: 200px;
  width: 100%;
  border: 2px solid black;
}

.plus {
  place-self: end end;
  padding-right: 50px;
  font-size: 2rem;
}

.ueberschrift {
  font-size: 4rem;
  font-family: "Indie Flower", cursive;
  place-self: center;
}

.container {
  display: flex;
  flex-wrap: wrap;
  height: 1100px;
  width: 100%;
  margin: 0;
  padding: 50px;
  border: 2px solid black;
}

.addEntry {
  display: none;
  position: absolute;
  left: 35%;
  right: 35%;
  top: 20%;
  bottom: 20%;
  height: 400px;
  width: 300px;
  border-radius: 20px;
  border: 2px solid black;
  background-color: white;
  z-index: 999;
  padding: 40px;
}

.overlay {
  display: none;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  position: absolute;
  background-color: rgba(50, 50, 50, 0.5);
}

.showEntry {
  display: block;
}

.buch {
  border-radius: 20px;
  padding-top: 20px;
  width: 300px;
  height: 450px;
  margin-bottom: 50px;
  margin-right: 50px;
  border: 2px solid black;
  box-shadow: 20px 20px 20px black;
  text-align: center;
}

.titleBook {
  font-size: 2rem;
  font-family: "EB Garamond", serif;
}

li {
  list-style: none;
  padding: 20px;
  font-size: 1.5rem;
  font-family: "EB Garamond", serif;
}
