* {
  box-sizing: border-box;
  margin: 0;
}

.header {
  display: grid;
  height: 200px;
  width: 100%;
  background-color: aqua;
  border: 2px solid black;
}

.plus {
  place-self: end end;
  padding-right: 50px;
  font-size: 2rem;
}

.ueberschrift {
  font-size: 4rem;
  font-family: "Indie Flower", cursive;
  place-self: center;
}

.container {
  display: flex;
  flex-wrap: wrap;
  height: 1100px;
  width: 100%;
  background-color: aquamarine;
  margin: 0;
  padding: 50px;
  border: 2px solid black;
}

.addEntry {
  display: none;
  background-color: burlywood;
  position: absolute;
  top: 20%;
  right: 20%;
  left: 20%;
  bottom: 20%;
  z-index: 999;
}

.overlay {
  display: none;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  position: absolute;
  background-color: rgba(50, 50, 50, 0.5);
}

.close {
  display: none;
  place-self: start start;
  padding-left: 30px;
  padding-top: 30px;
  font-size: 2rem;
}

.showEntry {
  display: block;
}

.buch {
  background-color: bisque;
  border-radius: 20px;
  padding-top: 20px;
  width: 300px;
  height: 350px;
  margin-bottom: 50px;
  margin-right: 50px;
  border: 2px solid black;
  box-shadow: 20px 20px 20px black;
}

li {
  list-style: none;
  padding-bottom: 20px;
  font-size: 1.5rem;
  font-family: "EB Garamond", serif;
}
